* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0.8),rgba(0,0,0,0.1)),url(image/다운로드.jpeg)
}

.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: 'Jura', sans-serif;
}

.nav li {
    border-radius: 12px/12px;
    padding: 10px;
}

.nav li:hover {
    background-color: gray;
}

.container .nav ul li {
    display: inline-block;
    margin:0 10px;
    text-align: right;
}

.container .nav ul li a {
    text-decoration: none;
    color: white;
}

.section {
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
}

.section h2{
font-size: 0;
    
}

.section .search{
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    border-style: none;    
    border-bottom: 1px solid black;
    color: gray;
}

.section ul li  {
    list-style:none;
    display: inline-block;
    text-align: center;
    margin: 30px;
}

.section figure .desk-1 {
    font-size: 30px;
    font-weight: bold;
}

.section figure .desk-2 {
    font-size: 15px;
    font-weight: lighter;
}

.section figure img {
    display: inline-block;
    width: 300px;
    height: 300px;
}












footer {
  
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: gray;
  
}